<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'translator/css/styles.css' %}">
    <title>Mangyan Translator</title>
</head>
<body>
    <div class="container">
        <!-- Translator Form -->
        <div class="form-container">
            <h2>Mangyan Translator</h2>
            <form id="uploadForm" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="image">Upload or Capture Image:</label><br>
                <input type="file" id="image" name="image" accept="image/*"><br>
                <div class="preview-container">
                    <img id="preview" alt="Image Preview">
                </div>
                <button type="submit">Translate</button>
            </form>
            <p id="output"></p>
        </div>
        <!-- Camera Feed -->
        <div class="camera-container">
            <h2>Live Camera</h2>
            <video id="camera" autoplay muted></video>
            <button id="captureButton">Capture</button>
            <canvas id="captureCanvas"></canvas>
        </div>
    </div>

    <!-- Link to external JavaScript file -->
    <script src="{% static 'translator/js/scripts.js' %}"></script>
</body>
</html>
